<!DOCTYPE html>
<html lang='en'>
  <head>
  <meta charset='UTF-8' />
  <meta http-equiv='X-UA-Compatible' content='ie=edge' />
  <title>Citibike</title>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEFRNRdgo2Wtde4bC31f7WAE0LHgNVH_0&callback=initMap">
  </script>
  <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>