body{
  background-color: snow;
}

h1{
  color: blue;
  font-family: 'Scada', sans-serif;
}

h3{
  background-color: red;
}

p{
  font-family: 'Marck Script', cursive;
}

footer{
   position: fixed;
   text-align: center;
   left: 0px;
   bottom: 0px;
   height: 30px;
   width: 100%;
}

#homePageText{
  text-align: center;
}

#homePageTitle{
  text-align: center;
  font-size: 45px;
}

#homeImg{
  background-size: cover;
}

/*this flips the image*/
#homeImg2{
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

#homeDiv{
  display: flex;
  justify-content: space-between;
}

#map{
  height: 700px;
  width: 80%;
}

#aboutMap{
  display: flex;
  justify-content: center;
  text-decoration: underline;
}

#bikeLayerInfo{
  font-family: 'Reenie Beanie', cursive;
  font-size: 30px;
  width: 45%;
}

#index{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#indexTitle{
  font-size: 45px;
}

#floatingPanel{

}