<%# views/bikes/edit.ejs %>

<h1>Edit Favorite Location</h1>

<form action="<%= `/bikes/${bikes.id}?_method=PUT` %>" method="POST">

<label for="intersection">Station Name</label>
<input id="intersection" type="text" name="intersection" value="<%= bikes.intersection %>" />

<br />

<label for="rating">Rating</label>
<input id="rating" type="text" name="rating" value="<%= bikes.rating %>" />

<br />

<input type="submit" value="Save" />

</form>

<a href="<%= `/bike/${bikes.id}` %>">Cancel</a>