<%# views/bikes/home.ejs %>
<%- include ../partials/boilerplate %>
<div id="home">

  <h1 id="homePageTitle">CitiBike Locator</h1>

  <p id="homePageText">Click Flatiron Building to Begin</p>

  <div id="homeDiv">
    <img id="homeImg" src="https://media.giphy.com/media/l1KcPjk9b2yeejkf6/giphy.gif" />

    <a href="/bike"> <img src="https://media.giphy.com/media/l0MYyW3jMYwL7AAFi/giphy.gif" /> </a>

    <img id="homeImg2" src="https://media.giphy.com/media/l1KcPjk9b2yeejkf6/giphy.gif" />
  </div>
</div>

<%- include ../partials/endplate %>