<%# views/bikes/index.ejs %>
<%- include ../partials/boilerplate %>

<h1>CitiBike</h1>

<p>Dark green routes indicated dedicated bicycle routes. Light green routes indicate streets with dedicated “bike lanes.” Dashed routes indicate streets or paths otherwise recommended for bicycle usage.</p>

<a href="<%=`/bike/${bikes.id}` %>">All Stations</a>

<br />

<a href="/bike/new">Add Location To Favorites</a>

<br />
<br />

<%- include ../partials/endplate %>

<div id="map"></div>
  <script>
    function initMap() {
      let position = {lat: 40.76727216, lng: -73.99392888};
      let map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: position
        });
      let icon = {
        url: 'https://lh3.googleusercontent.com/gJUqimHMOz13OsLXS2x78CokU42VSPD-yTEM7vXPUFz00wsfUwCeFKWned8p7QjVOg=w300',
        scaledSize: new google.maps.Size(45, 45)
      };

      //add bike routes to google map
      let bikeLayer = new google.maps.BicyclingLayer();
      bikeLayer.setMap(map);

      let script = document.createElement('script');
      script.src = 'https://feeds.citibikenyc.com/stations/stations.json';
      // document.getElementsByTagName('head')[0].appendChild(script);

      let citiBikeData = <%- JSON.stringify(bikes) %>
      for(i = 0; i < citiBikeData.length; i++){
        let bikeIcon = new google.maps.Marker({
        class: 'bikeIcon',
        position: {lat: citiBikeData[i].latitude, lng: citiBikeData[i].longitude},
        map: map,
        icon: icon
    });
        let contentString = '<div id="content">' + '<div id="sitNotice">' + '</div>' + '<h1 id="firstHeading" class="firstHeading"> Station Name: ' + citiBikeData[i].stationName + '</h1>' + '<div id="bodyContent">' + '<p>Total Docks: ' + citiBikeData[i].totalDocks + '</p>' + '<p>Available Docks: ' + citiBikeData[i].availableDocks + '</p>' + '<p>Available Bikes: ' + citiBikeData[i].availableBikes + '</p>' + '<p>Station Status: ' + citiBikeData[i].statusValue + '</p>' + '</div>'

        let infoWindow = new google.maps.InfoWindow({
          content: contentString
        });
        bikeIcon.addListener('click', function() {
          infoWindow.open(map, bikeIcon);
        });
  }
}
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEFRNRdgo2Wtde4bC31f7WAE0LHgNVH_0&callback=initMap">
</script>