<%# views/bikes/show.ejs %>

<h1>Station Name:
<%= bikes.intersection %></h1>
<h3>Rated: <%= bikes.rating %></h3>

<a href="/bike">Back </a>

<br/ >

<a href="<%= `/bike/${bikes.id}/edit` %>"> Edit Location </a>

<form action="<%= `/bike/${bikes.id}?_method=DELETE` %>" method="POST">
  <input type="submit" value="Delete" />
</form>